name: lifegoals
description: Flutter lifegoals app
version: 1.0.0+1
publish_to: none

environment:
  sdk: ">=2.18.0 <3.0.0"
  flutter: 3.3.7

dependencies:
  bloc: ^8.1.0
  cloud_firestore: ^4.1.0
  equatable: ^2.0.5
  firebase_auth: ^4.1.4
  firebase_core: ^2.3.0
  firebase_ui_auth: ^1.1.0
  flutter:
    sdk: flutter
  flutter_bloc: ^8.1.1
  flutter_localizations:
    sdk: flutter
  freezed_annotation: ^2.2.0
  go_router: ^5.2.0
  intl: ^0.17.0
  mocktail: ^0.3.0

dev_dependencies:
  bloc_test: ^9.1.0
  # new version of build runner isn't compatible with other libraries
  build_runner: ^2.3.0
  flutter_test:
    sdk: flutter
  # new version of build runner isn't compatible with other libraries
  freezed: ^2.2.0
  very_good_analysis: ^3.1.0

flutter:
  uses-material-design: true
  generate: true
