name: lifegoals
description: Flutter lifegoals app
version: 1.0.0+1
publish_to: none

environment:
  sdk: ">=2.18.0 <3.0.0"
  flutter: 3.7.0

dependencies:
  bloc: ^8.1.1
  cloud_firestore: ^4.3.1
  firebase_auth: ^4.2.5
  firebase_core: ^2.4.1
  firebase_ui_auth: ^1.1.9
  flutter:
    sdk: flutter
  flutter_bloc: ^8.1.1
  flutter_launcher_icons: ^0.11.0
  flutter_localizations:
    sdk: flutter
  freezed_annotation: ^2.2.0
  go_router: ^6.0.4
  intl: any # uses transitive dependency from flutter_localizations
  json_annotation: ^4.8.0
  logging: ^1.1.1
  mobile_scanner: ^2.1.0
  uuid: ^3.0.7

dev_dependencies:
  bloc_test: ^9.1.0
  build_runner: ^2.3.3
  fake_cloud_firestore: ^2.3.0+3
  flutter_test:
    sdk: flutter
  freezed: ^2.3.2
  #injectable_generator: ^2.1.3
  json_serializable: ^6.6.1
  mocktail: ^0.3.0
  very_good_analysis: ^3.1.0

flutter:
  uses-material-design: true
  generate: true

# to generate call:
# flutter pub run flutter_launcher_icons
flutter_icons:
  image_path: "assets/icon.png"
  android: true
  ios: true
