name: lifegoals
description: Flutter lifegoals app
version: 1.0.0+1
publish_to: none

environment:
  sdk: ">=2.18.0 <3.0.0"
  flutter: 3.7.0

dependencies:
  bloc: ^8.1.0
  cloud_firestore: ^4.3.1
  firebase_auth: ^4.2.5
  firebase_core: ^2.4.1
  firebase_ui_auth: ^1.1.9
  flutter:
    sdk: flutter
  flutter_bloc: ^8.1.1
  flutter_launcher_icons: ^0.11.0
  flutter_localizations:
    sdk: flutter
  freezed_annotation: ^2.2.0
  go_router: ^6.0.1

  # Cannot be updated because of dependency conflict with flutter_localizations
  intl: any
  json_annotation: ^4.8.0
  logging: ^1.1.0
  mobile_scanner: ^2.1.0
  uuid: ^3.0.7
  widgetbook: ^3.0.0-beta.7
  #widgetbook: ^2.4.1
  widgetbook_annotation: ^3.0.0-beta.3

dev_dependencies:
  bloc_test: ^9.1.0
  # new versions of build runner + freezed aren't compatible with other libraries
  # see dependency overrides
  build_runner: ^2.3.3
  fake_cloud_firestore: ^2.3.0+3
  flutter_test:
    sdk: flutter
  # new versions of freezed + build runner aren't compatible with other libraries
  # see dependency overrides
  freezed: ^2.3.2
  #injectable_generator: ^2.1.3
  json_serializable: ^6.6.0
  mocktail: ^0.3.0
  very_good_analysis: ^3.1.0
  widgetbook_generator: ^3.0.0-beta.7

dependency_overrides:
  # fix freezed & build runner dependency conflict
  # https://github.com/felangel/mocktail/issues/164
  analyzer: ^5.4.0
  collection: ^1.17.0
  go_router: ^6.0.1
  test_api: 0.4.17

flutter:
  uses-material-design: true
  generate: true

# to generate call:
# flutter pub run flutter_launcher_icons
flutter_icons:
  image_path: "assets/icon.png"
  android: true
  ios: true
