name: lifegoals
description: Flutter lifegoals app
version: 1.0.0+1
publish_to: none

environment:
  sdk: ">=2.18.0 <4.0.0"
  flutter: 3.10.0

dependencies:
  bloc: ^8.1.1
  cloud_firestore: ^4.7.1
  firebase_auth: ^4.6.1
  firebase_core: ^2.13.0
  firebase_ui_auth: ^1.4.1
  flutter:
    sdk: flutter
  flutter_bloc: ^8.1.2
  flutter_launcher_icons: ^0.13.1
  flutter_localizations:
    sdk: flutter
  freezed_annotation: ^2.2.0
  go_router: ^7.0.1
  intl: any # uses transitive dependency from flutter_localizations
  json_annotation: ^4.8.1
  logging: ^1.1.1
  mobile_scanner: ^3.2.0
  uuid: ^3.0.7

dev_dependencies:
  bloc_test: ^9.1.1
  build_runner: ^2.4.4
  fake_cloud_firestore: ^2.4.1+1
  flutter_test:
    sdk: flutter
  freezed: ^2.3.4
  #injectable_generator: ^2.1.3
  json_serializable: ^6.6.2
  mocktail: ^0.3.0
  very_good_analysis: ^4.0.0+1

flutter:
  uses-material-design: true
  generate: true

# to generate call:
# flutter pub run flutter_launcher_icons
flutter_icons:
  image_path: "assets/icon.png"
  android: true
  ios: true

# use overrides if there's conflicts in future..
# https://github.com/firebase/flutterfire/issues/10199
#dependency_overrides:
#  intl: ^0.18.0
